
header{
    text-align  : center;
    font-family :'Courier New', Courier, monospace;
    font-size   : 36px;
    font-weight : bold;
    margin      : auto;
    color       : aliceblue;
}

body{
    text-align  : center;
    background-color: rgb(17, 17, 17);
    margin      : 20px;
}

p{
    font-family : Helvetica, sans-serif;
    font-size   : 16px;
    margin      : auto;
    padding     : 10px;
}

.cyan {
    float       : right;
    list-style  : inside;
    font-family : Helvetica, sans-serif;
    margin      : auto;
    width       : 78.8%;
    border      : 1px rgb(140, 199, 233);
    padding     : 10px;
    background-color: rgb(127, 225, 255);
}

.yell {
    float       : right;
    list-style  : inside;
    font-family : Helvetica, sans-serif;
    margin      : auto;
    width       : 79%;
    border      : 3px rgb(248, 192, 109);
    padding     : 10px;
    background-color: rgb(245, 243, 127);
}

.oran {
    float       : right;
    list-style  : inside;
    font-family : Helvetica, sans-serif;
    text-align  : left;
    line-height : 20px;
    margin      : auto;
    width       : 79%;
    border      : 3px rgb(248, 103, 58);
    padding     : 10px;
    background-color: rgb(243, 172, 66);
}

.red{
    float       : right;
    list-style  : inside;
    font-family : Helvetica, sans-serif;
    text-align  : left;
    line-height : 20px;
    margin      : auto;
    width       : 79%;
    border      : 3px rgb(177, 25, 19);
    padding     : 10px;
    background-color: rgb(235, 77, 57); 
}

label {

    font-family : Helvetica, sans-serif;
    font-size   : 24px;
    font-weight : bold;
}

.nave{
    float       : left;
    list-style  : square;
    font-family : Impact, sans-serif;
    font-size   : larger;
    text-align  : left;
    letter-spacing: 3px;

    margin      : auto;
    width       : 19%;
    border      : 10px black;
    color       : aliceblue;
}

img{
    border-radius: 50%;
}

a{
    color        : currentColor;
    text-decoration : none;
}

a:hover{

    font-weight : 700;
    color       : rgb(219, 60, 60);
}